# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# ML Data & Models
# =========================
data/dataset.txt
data/train.bin
train.zip
*.pt
*.bin
*.model
*.vocab

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
